<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="product: ${products}">
                <td th:text="${product.productId}"></td>
                <td th:text="${product.productName}"></td>
                <th>
                    <a th:href="@{'/deleteProduct/' + ${product.productId}}" role="button">Delete</a>
                    <a th:href="@{'/editProduct/' + ${product.productId}}" role="button">edit</a>
                </th>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/newProduct}" role="button">Add +</a>
</div>
</body>
</html>